<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

    <select id="selectUserByNo" parameterType="long" resultType="Member">
        SELECT 
            U.*, 
            C.USER_PW,
            I.PROVIDER
        FROM USER U
        LEFT JOIN USER_CREDENTIALS C ON U.USER_NO = C.USER_NO
        LEFT JOIN USER_IDENTITIES I ON U.USER_NO = I.USER_NO
        WHERE U.USER_NO = #{userNo}
    </select>

    <select id="getMemberStats" parameterType="long" resultType="MemberDto">
	    SELECT 
	        (SELECT COUNT(*) FROM BOARD WHERE USER_NO = #{userNo} AND BOARD_DELETE = 'N') as recipeCount,
	        (SELECT COUNT(*) 
	         FROM SCRAP S 
	         JOIN BOARD B ON S.BOARD_NO = B.BOARD_NO 
	         WHERE S.USER_NO = #{userNo} AND B.BOARD_DELETE = 'N') as scrapCount,
	        (SELECT COUNT(*) FROM INQUIRY WHERE USER_NO = #{userNo}) as inquiryCount
	    FROM DUAL
	</select>

    <select id="selectUserAllergies" parameterType="long" resultType="string">
        SELECT ALLERGY_NAME 
        FROM ALLERGY 
        WHERE USER_NO = #{userNo}
    </select>

    <select id="selectPassword" resultType="string" parameterType="long">
        SELECT USER_PW 
        FROM USER_CREDENTIALS 
        WHERE USER_NO = #{userNo}
    </select>


    <update id="updateMemberProfile" parameterType="MemberUpdateDto">
        UPDATE USER
        <set>
            <if test="nickname != null">NICKNAME = #{nickname},</if>
            <if test="introduce != null">INTRODUCE = #{introduce},</if>
            <if test="profileImageUrl != null">PROFILE_IMAGE_URL = #{profileImageUrl}</if>
        </set>
        WHERE USER_NO = #{userNo}
    </update>

    <update id="updateMemberPassword" parameterType="map">
        UPDATE USER_CREDENTIALS
        SET USER_PW = #{encodedPw}
        WHERE USER_NO = #{userNo}
    </update>

    

    <insert id="insertMemberAllergy" parameterType="map">
        INSERT INTO ALLERGY (ALLERGY_NAME, USER_NO)
        VALUES (#{allergyName}, #{userNo})
    </insert>


    <update id="withdrawMember" parameterType="long">
	    UPDATE USER 
	    SET 
	        WITHDRAW = 'Y',
	        USER_EMAIL = CONCAT('withdrawn_', #{userNo}, '@cookmate.com'),
	        NICKNAME = '탈퇴한 사용자', 
	        PROFILE_IMAGE_URL = NULL, 
	        INTRODUCE = NULL,
	        ADDRESS = NULL,
	        LAST_LOGIN = NOW()
	    WHERE USER_NO = #{userNo}
	</update>

	<delete id="deleteUserAuthorities" parameterType="long">
	    DELETE FROM AUTHORITY 
	    WHERE USER_NO = #{userNo}
	</delete>
	
	<delete id="deleteUserIdentity" parameterType="long">
	    DELETE FROM USER_IDENTITIES 
	    WHERE USER_NO = #{userNo}
	</delete>
	
	<delete id="deleteUserCredentials" parameterType="long">
	    DELETE FROM USER_CREDENTIALS 
	    WHERE USER_NO = #{userNo}
	</delete>
	
	<delete id="deleteMemberAllergies" parameterType="long">
        DELETE FROM ALLERGY WHERE USER_NO = #{userNo}
    </delete>
    
    <delete id="deleteAllFollowing" parameterType="map">
	    DELETE FROM FOLLOWING 
	    WHERE USER_NO = #{userNo}
	    OR FOLLOWING_ID = #{userId}
	</delete>

	<delete id="deleteAllScraps" parameterType="long">
	    DELETE FROM SCRAP 
	    WHERE USER_NO = #{userNo}
	</delete>
	
    <select id="selectMyRecipes" parameterType="map" resultType="RecipeDto">
    SELECT 
        B.BOARD_NO as boardNo,
        B.BOARD_TITLE as title,
        B.IMAGE_URL as imageUrl, 
        T.TYPE_NAME as category,
        T.COOK_TIME as cookTime,
        B.OPEN as open,
        B.LIKES_COUNT as likesCount,
        B.BOARD_POSTDATE as boardPostdate
    FROM BOARD B
    JOIN TAG T ON B.TYPE_NO = T.TYPE_NO 
    WHERE B.USER_NO = #{userNo} AND B.BOARD_DELETE = 'N'
    ORDER BY B.BOARD_POSTDATE DESC
	</select>

	<select id="selectMyScraps" parameterType="map" resultType="RecipeDto">
    SELECT 
        B.BOARD_NO as boardNo,
        B.BOARD_TITLE as title,
        B.IMAGE_URL as imageUrl, 
        T.TYPE_NAME as category,
        T.COOK_TIME as cookTime,
        B.LIKES_COUNT as likesCount,
        M.NICKNAME as authorNickname
    FROM SCRAP S
    JOIN BOARD B ON S.BOARD_NO = B.BOARD_NO
    JOIN TAG T ON B.TYPE_NO = T.TYPE_NO 
    JOIN USER M ON B.USER_NO = M.USER_NO
    WHERE S.USER_NO = #{userNo} AND B.BOARD_DELETE = 'N'
    ORDER BY B.BOARD_POSTDATE DESC
    </select>

    <select id="selectMyInquiries" parameterType="long" resultType="InquiryDto">
        SELECT 
            INQUIRY_NO as inquiryNo,
            INQUIRY_TITLE as title,
            INQUIRY_CONTENT as content,
            INQUIRY_POSTDATE as createDate,
            INQUIRY_STATUS as status, 
            TYPE_NAME as typeName
        FROM INQUIRY
        WHERE USER_NO = #{userNo}
        ORDER BY INQUIRY_POSTDATE DESC
    </select>


    <select id="selectInquiryDetail" parameterType="long" resultType="InquiryDto">
        SELECT 
            INQUIRY_NO as inquiryNo,
            USER_NO as userNo,
            INQUIRY_TITLE as title,
            INQUIRY_CONTENT as content,
            INQUIRY_POSTDATE as createDate,
            TYPE_NAME as typeName,
            INQUIRY_STATUS as status,
            ANSWER as answer,
            ANSWER_DATE as answerDate
        FROM INQUIRY
        WHERE INQUIRY_NO = #{inquiryNo}
    </select>

    <insert id="insertInquiry" parameterType="InquiryDto">
        INSERT INTO INQUIRY (
            USER_NO, INQUIRY_TITLE, INQUIRY_CONTENT, TYPE_NAME, INQUIRY_STATUS, INQUIRY_POSTDATE
        ) VALUES (
            #{userNo}, #{title}, #{content}, #{typeName}, 'N', NOW()
        )
    </insert>

    <update id="updateInquiry" parameterType="InquiryDto">
        UPDATE INQUIRY
        SET INQUIRY_TITLE = #{title}, INQUIRY_CONTENT = #{content}, TYPE_NAME = #{typeName}
        WHERE INQUIRY_NO = #{inquiryNo}
    </update>

    <delete id="deleteInquiry" parameterType="long">
        DELETE FROM INQUIRY WHERE INQUIRY_NO = #{inquiryNo}
    </delete>


    <select id="selectChefRanking" parameterType="map" resultType="MemberDto">
	    SELECT 
	        u.USER_NO as userNo,
	        u.NICKNAME as nickname,
	        u.PROFILE_IMAGE_URL as profileImageUrl,
	        u.USER_EMAIL as userEmail,
	        DATE_FORMAT(u.USER_ENROLL_DATE, '%Y.%m.%d') as enrollDate,
	        (SELECT COUNT(*) FROM BOARD b WHERE b.USER_NO = u.USER_NO AND b.BOARD_DELETE = 'N') as recipeCount,
	        (SELECT COUNT(*) 
	         FROM SCRAP s 
	         JOIN BOARD b ON s.BOARD_NO = b.BOARD_NO 
	         WHERE b.USER_NO = u.USER_NO AND b.BOARD_DELETE = 'N') as scrapCount,
	        (SELECT COUNT(*) FROM FOLLOWING f WHERE f.FOLLOWING_ID = u.USER_EMAIL) as followerCount
	        <if test="loginUserNo != null">
	        , (SELECT COUNT(*) FROM FOLLOWING WHERE USER_NO = #{loginUserNo} AND FOLLOWING_ID = u.USER_EMAIL) > 0 as isFollowing
	        </if>
	    FROM USER u
	    WHERE u.WITHDRAW = 'N' AND u.USER_STATUS = 'N'
	    ORDER BY 
	        <choose>
	            <when test="filter == 'scrap'">scrapCount DESC</when>
	            <when test="filter == 'follower'">followerCount DESC</when>
	            <otherwise>recipeCount DESC</otherwise>
	        </choose>
	</select>

    <select id="selectChefDetail" parameterType="map" resultType="MemberDto">
        SELECT 
            USER_NO as userNo,
            USER_EMAIL as userEmail,
            NICKNAME as nickname,
            INTRODUCE as introduce,
            PROFILE_IMAGE_URL as profileImageUrl,
            DATE_FORMAT(USER_ENROLL_DATE, '%Y.%m.%d') as enrollDate,
            (SELECT COUNT(*) FROM BOARD WHERE USER_NO = #{chefNo} AND BOARD_DELETE = 'N') as recipeCount,
            (SELECT COUNT(*) FROM FOLLOWING WHERE FOLLOWING_ID = (SELECT USER_EMAIL FROM USER WHERE USER_NO = #{chefNo})) as followerCount,
            (SELECT COUNT(*) FROM FOLLOWING WHERE USER_NO = #{chefNo}) as followingCount
            <if test="loginUserNo != null">
            , (SELECT COUNT(*) FROM FOLLOWING WHERE USER_NO = #{loginUserNo} AND FOLLOWING_ID = (SELECT USER_EMAIL FROM USER WHERE USER_NO = #{chefNo})) > 0 as isFollowing
            </if>
        FROM USER
        WHERE USER_NO = #{chefNo} AND WITHDRAW = 'N'
    </select>

    <select id="selectChefRecipeComments" parameterType="long" resultType="map">
        SELECT 
            c.COMMENT_NO as commentNo,
            c.COMMENT_CONTENT as commentContent,
            DATE_FORMAT(c.COMMENT_POSTDATE, '%Y.%m.%d') as commentPostDate,
            b.BOARD_NO as boardNo,
            b.BOARD_TITLE as boardTitle,
            u.NICKNAME as commenterNickname,
            u.PROFILE_IMAGE_URL as commenterProfileUrl
        FROM COMMENT c
        JOIN BOARD b ON c.BOARD_NO = b.BOARD_NO
        JOIN USER u ON c.USER_NO = u.USER_NO
        WHERE b.USER_NO = #{chefNo}
          AND c.COMMENT_DELETE = 'N'
        ORDER BY c.COMMENT_POSTDATE DESC
    </select>

	<select id="selectMyWrittenComments" parameterType="map" resultType="MyCommentDto">
        SELECT 
            c.COMMENT_NO as commentNo,
            c.COMMENT_CONTENT as commentContent,
            DATE_FORMAT(c.COMMENT_POSTDATE, '%Y-%m-%d %H:%i') as commentPostDate,
            b.BOARD_NO as boardNo,
            b.BOARD_TITLE as boardTitle,
            (SELECT COUNT(*) 
             FROM COMMENT r 
             WHERE r.PARENT_COMMENT_NO = c.COMMENT_NO 
               AND r.COMMENT_DELETE = 'N') as replyCount
        FROM COMMENT c
        JOIN BOARD b ON c.BOARD_NO = b.BOARD_NO
        WHERE c.USER_NO = #{userNo}
          AND c.COMMENT_DELETE = 'N'
        <choose>
            <when test="filter == 'popular'">
                ORDER BY replyCount DESC, c.COMMENT_POSTDATE DESC
            </when>
            <when test="filter == 'oldest'">
                ORDER BY c.COMMENT_POSTDATE ASC
            </when>
            <otherwise>
                ORDER BY c.COMMENT_POSTDATE DESC
            </otherwise>
        </choose>
    </select>

    <select id="selectCommentsOnMyBoards" parameterType="map" resultType="MyCommentDto">
        SELECT 
            c.COMMENT_NO as commentNo,
            c.COMMENT_CONTENT as commentContent,
            DATE_FORMAT(c.COMMENT_POSTDATE, '%Y-%m-%d %H:%i') as commentPostDate,
            b.BOARD_NO as boardNo,
            b.BOARD_TITLE as boardTitle,
            u.NICKNAME as commenterNickname,
            u.PROFILE_IMAGE_URL as commenterProfileUrl,
            (SELECT COUNT(*) 
             FROM COMMENT r 
             WHERE r.PARENT_COMMENT_NO = c.COMMENT_NO 
               AND r.COMMENT_DELETE = 'N') as replyCount
        FROM COMMENT c
        JOIN BOARD b ON c.BOARD_NO = b.BOARD_NO
        JOIN USER u ON c.USER_NO = u.USER_NO
        WHERE b.USER_NO = #{userNo}      AND c.USER_NO != #{userNo}    AND c.COMMENT_DELETE = 'N'
        <choose>
            <when test="filter == 'popular'">
                ORDER BY replyCount DESC, c.COMMENT_POSTDATE DESC
            </when>
            <when test="filter == 'oldest'">
                ORDER BY c.COMMENT_POSTDATE ASC
            </when>
            <otherwise>
                ORDER BY c.COMMENT_POSTDATE DESC
            </otherwise>
        </choose>
    </select>

    <select id="checkFollow" parameterType="map" resultType="int">
        SELECT COUNT(*) 
        FROM FOLLOWING 
        WHERE USER_NO = #{loginUserNo} AND FOLLOWING_ID = #{targetEmail}
    </select>

    <insert id="insertFollow" parameterType="map">
	    INSERT INTO FOLLOWING (USER_NO, FOLLOWING_ID, CREATE_AT) 
	    SELECT #{loginUserNo}, #{targetEmail}, NOW()
	    FROM USER 
	    WHERE USER_EMAIL = #{targetEmail} 
	      AND WITHDRAW = 'N'
	      AND USER_STATUS = 'N'
	</insert>

    <delete id="deleteFollow" parameterType="map">
        DELETE FROM FOLLOWING 
        WHERE USER_NO = #{loginUserNo} AND FOLLOWING_ID = #{targetEmail}
    </delete>
    
    <select id="selectFollowingList" parameterType="map" resultType="FollowDto">
    SELECT 
        u.USER_NO, 
        u.NICKNAME, 
        u.USER_EMAIL, 
        u.PROFILE_IMAGE_URL,
        (SELECT COUNT(*) FROM BOARD b WHERE b.USER_NO = u.USER_NO) as recipeCount,
        (SELECT COUNT(*) FROM FOLLOWING f2 WHERE f2.FOLLOWING_ID = u.USER_EMAIL) as followerCount,
        1 as following
    FROM FOLLOWING f
    JOIN USER u ON f.FOLLOWING_ID = u.USER_EMAIL
    WHERE f.USER_NO = #{userNo}
    <choose>
        <when test="filter == 'follower'"> ORDER BY followerCount DESC </when>
        <when test="filter == 'recipe'"> ORDER BY recipeCount DESC </when>
        <when test="filter == 'oldest'"> ORDER BY f.CREATE_AT ASC </when>
        <otherwise> ORDER BY f.CREATE_AT DESC </otherwise> </choose>
	</select>
	
	<select id="selectFollowerList" parameterType="map" resultType="FollowDto">
	    SELECT 
	        u.USER_NO, 
	        u.NICKNAME, 
	        u.USER_EMAIL, 
	        u.PROFILE_IMAGE_URL,
	        (SELECT COUNT(*) FROM BOARD b WHERE b.USER_NO = u.USER_NO) as recipeCount,
	        (SELECT COUNT(*) FROM FOLLOWING f2 WHERE f2.FOLLOWING_ID = u.USER_EMAIL) as followerCount,
	        (SELECT COUNT(*) FROM FOLLOWING f3 WHERE f3.USER_NO = #{loginUserNo} AND f3.FOLLOWING_ID = u.USER_EMAIL) as following
	    FROM FOLLOWING f
	    JOIN USER u ON f.USER_NO = u.USER_NO
	    WHERE f.FOLLOWING_ID = #{loginUserEmail}
	    <choose>
	        <when test="filter == 'follower'"> ORDER BY followerCount DESC </when>
	        <when test="filter == 'recipe'"> ORDER BY recipeCount DESC </when>
	        <when test="filter == 'oldest'"> ORDER BY f.CREATE_AT ASC </when>
	        <otherwise> ORDER BY f.CREATE_AT DESC </otherwise> </choose>
	</select>
	
	<select id="getKakaoAccessToken" resultType="string">
    SELECT ACCESS_TOKEN 
    FROM USER_IDENTITIES 
    WHERE USER_NO = #{userNo} 
      AND PROVIDER = 'Kakao' 
    </select>

</mapper>