DB_URL=jdbc:mysql://your-db-host:3306/cookmate?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
DB_USERNAME=your-db-username
DB_PASSWORD=your-db-password

PUBLIC_API_KEY=your-public-food-api-key
JWT_SECRET=your-jwt-secret
JWT_REFRESH_SECRET=your-jwt-refresh-secret

KAKAO_CLIENT_ID=your-kakao-rest-api-key
KAKAO_CLIENT_SECRET=your-kakao-client-secret

FRONTEND_URL=http://localhost:3000
CORS_ALLOWED_ORIGINS=http://localhost:3000
AI_RECIPE_API_URL=https://your-api-gateway-url.execute-api.ap-northeast-2.amazonaws.com/ai/recipes

GMAIL_USERNAME=userGmail
GMAIL_APP_PASSWORD=privacy key(잊으면 키 번호를 다시 재발급 해야 함)